<!-- <div>
    <h1>Authoring Server-compatible components</h1>
    <p #content class='content'>
        this is some content whose height we want to calculate . It only works in the browser.
    </p>
</div>

<ul>
    <li>
        <a [routerLink]="['/']" routerLinkActive="router-link-active">Home</a>
    </li>
    <li>
        <a [routerLink]="['/httpcache']" routerLinkActive="router-link-active">Http Cache</a>
    </li>
    <li>
        <a [routerLink]="['/products/1']" routerLinkActive="router-link-active">Product 1</a>
    </li>
    <li>
        <a [routerLink]="['/products/3']" routerLinkActive="router-link-active">Product 3</a>
    </li>
</ul> -->

<app-header></app-header>
<main>
    <router-outlet></router-outlet>
</main>


<!-- <div [ngClass]="{red: isClicked && number % 5 != 0, green: isClicked && number % 5 == 0}" (click)="onClick()">
    {{number}}
</div> -->

<!-- <div appHighlight [number]='number' [divisibleBy]='5'>
    {{number}}
</div> -->